@import "../../index";

.container {
  margin: 0 auto;
  padding-bottom: 10px;
  height: 60px;
  line-height: 60px;
  width: 80vw;
  border: 1px solid $border-color;
  border-top: 0;
}

.headText {
  font-size: 1.5em;
  text-align: center;
}
