@import "../../index";

.container {
  height: 80px;
  width: 100vw;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: $background-color;
  padding: 0 2rem;
  //adaptive
  font-size: 2rem;
  height: 50px;
  line-height: 50px;
  background-color: lightgrey;
  border-radius: 10px;
}

.icon {
  cursor: pointer;
  margin: 30px;
}
