//global style

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
  color: lightgrey;
}

//variables declaration

$primary-color: #66b2ff;
$background-color: #0a1929;
$border-color: #233b56;